---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/blogCard.astro";

const posts = await getCollection("blog");
---

<Layout >
  <div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-6">All Articles</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        posts.map((post) => (
        <BlogCard title={post.data.title} description={post.data.description} imageUrl={post.data.image}  slug={post.slug} />
          ))
      }
    </div>
  </div>

</Layout>
