---
import Layout from "../layouts/Layout.astro";
import ChooseWiselySection from "../components/ChooseWiselySection.astro";
import FactsDataSection from "../components/FactsDataSection.astro";
import VinCheckSection from "../components/VinCheckSection.astro";
import CarouselSection from "../components/CarouselSection.astro";
import { getLocation } from '../utils/geo';

export async function getStaticProps({ request }) {
  const ip = request.headers.get('x-forwarded-for') || request.connection.remoteAddress;
  const countryCode = await getLocation(ip);

  return {
    props: { countryCode },
  };
}

const { countryCode } = Astro.props;
---

<Layout title="VIN Check">
  <VinCheckSection />
  <FactsDataSection />
  <ChooseWiselySection />
  <CarouselSection />

  <p>Country code: {countryCode}</p>
</Layout>