---

---

<form onsubmit="event.preventDefault(); window.location.href='/check-vin/' + this.vin.value;">
  <div class="mt-4 flex flex-col sm:flex-row">
    <input
      type="text"
      name="vin"
      placeholder="Enter VIN Number"
      class="input input-bordered w-full sm:w-auto sm:flex-grow rounded-l-lg mb-2 sm:mb-0"
    />
    <button class="btn btn-warning w-full sm:w-auto sm:ml-2 rounded-r-lg">
      Check VIN <i class="fas fa-arrow-right ml-2"></i>
    </button>
  </div>
</form>
