---
---

<section class="bg-white py-6">
    <div
        class="container mx-auto flex flex-col md:flex-row justify-center items-center gap-8 md:gap-16 text-center flex-wrap"
    >
        <!-- First Feature -->
        <div class="flex items-center justify-center space-x-2">
            <span class="text-green-600 text-lg font-bold">&#10003;</span>
            <div class="text-left">
                <p class="text-sm text-gray-600">Free VIN Check:</p>
                <p class="text-lg font-bold">By VIN & Plate</p>
            </div>
        </div>
        <!-- Second Feature -->
        <div class="flex items-center justify-center space-x-2">
            <span class="text-green-600 text-lg font-bold">&#10003;</span>
            <div class="text-left">
                <p class="text-sm text-gray-600">Daily VIN Searches:</p>
                <p class="text-lg font-bold">45,000+</p>
            </div>
        </div>
        <!-- Third Feature -->
        <div class="flex items-center justify-center space-x-2">
            <span class="text-green-600 text-lg font-bold">&#10003;</span>
            <div class="text-left">
                <p class="text-sm text-gray-600">VIN Checked On:</p>
                <p class="text-lg font-bold">70 Databases</p>
            </div>
        </div>
        <!-- Fourth Feature -->
        <div class="flex items-center justify-center space-x-2">
            <span class="text-green-600 text-lg font-bold">&#10003;</span>
            <div class="text-left">
                <p class="text-sm text-gray-600">
                    Full Vehicle History Report:
                </p>
                <p class="text-lg font-bold">Extensive History</p>
            </div>
        </div>
    </div>
</section>