---

---

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
<footer class="bg-white py-8">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        
        <div class="col-span-1">
          <h2 class="text-black font-bold">Customer Service</h2>
          <p class="text-gray-600">contact@provincheck.com</p>
          <p class="text-gray-600">+359 899 658974</p>
          <div class="flex space-x-4 mt-4">
            <a href="#"><i class="fab fa-facebook text-gray-600"></i></a>
            <a href="#"><i class="fab fa-instagram text-gray-600"></i></a>
            <a href="#"><i class="fab fa-twitter text-gray-600"></i></a>
            <a href="#"><i class="fab fa-youtube text-gray-600"></i></a>
            <a href="#"><i class="fab fa-pinterest text-gray-600"></i></a>
          </div>
        </div>
  
        <div class="col-span-1">
          <h2 class="text-black font-bold">About EpicVIN</h2>
          <ul class="text-gray-600 space-y-2">
            <li><a href="/about-us">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Team Archives</a></li>
            <li><a href="#">Terms & Privicy</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">FAQ Page</a></li>
            
          </ul>
        </div>
<!--   
        <div class="col-span-1">
          <h2 class="text-black font-bold">Vin Decoder</h2>
          <ul class="text-gray-600 space-y-2">
            <li><a href="#">DMV VIN Check</a></li>
            <li><a href="#">Motorcycle VIN Check</a></li>
            <li><a href="#">RV VIN Lookup</a></li>
            <li><a href="#">VIN Check by State</a></li>
            <li><a href="#">Recall Check</a></li>
            <li><a href="#">Sample Report</a></li>
            <li><a href="#">Chrome Extension</a></li>
          </ul>
        </div> -->
  
        <div class="col-span-1">
          <h2 class="text-black font-bold">Decoders by Make</h2>
          <ul class="text-gray-600 space-y-2">
            <li><a href="#">BMW VIN Check</a></li>
            <li><a href="#">Mercedes VIN Check</a></li>
            <li><a href="#">Audi VIN Check</a></li>
            <li><a href="#">Volvo VIN Check</a></li>
            <li><a href="#">Toyota VIN Check</a></li>
            <li><a href="#">Volkswagen VIN Check</a></li>
          </ul>
        </div>
  
      </div>
    </div>
  </footer>
