---
import Layout from "../../layouts/Layout.astro";
const { vin } = Astro.params;


---

<Layout>
    <h1>Details for VIN: {vin}</h1>
    <p>Here you can fetch and display details for the VIN entered: {vin}</p>
</Layout>
   